header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
}

/* ggf. auskommentieren, da gibt's dann mehr space*/
div {
  border: 1px solid black;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  flex-grow: 1; /* REALLY necessary*/
  align-items: center;
  padding-left: 30px;
}

.logo img {
  margin-right: 10px;
}

header nav {
  display: block;
  padding-right: 30px;
}

header nav span {
  display: inline-block;
  padding: 20px 10px;
}

.maincontent {
  display: flex;
}

.column {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

/* itemcontainer contains one ore more stories */
.itemcontainer {
  display: flex;
}

.itemcontainer.horizontal {
  flex-direction: row;
}

.itemcontainer.vertical {
  flex-direction: column;
}

.alignitems {
  align-items: center;
}

.justifycontentspacebetween {
  justify-content: space-between;
}


.storytext {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.imagetext {
   font-family: Georgia;
   font-weight: bold;
   color: white;
   height: 300px;
 }

 .imagetextfontsizemain {
   font-size: 40px;
}

 .imagetextfontsizesub {
  font-size: 30px;
}

.newsbite {
  font-size: 16px;
  font-weight: bold;
}

.bitescontainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 240px;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  margin-top: 30px;
}


.bite {
  border-bottom: 1px solid black;
  padding: 15px 20px;
  /* height: 40px; */
}


.story {
   display: flex;
   flex-direction: column;
}

.substorysize {
  width: 300px;
}


.image0 {
   background-image: url("../images/img-story-main.png");
}

.image1 {
   background-image: url("../images/img-story-2.png");
}

.image2 {
   background-image: url("../images/img-story-3.png");
}

.image3 {
   background-image: url("../images/img-story-1.png");
}

.image4 {
  background-image: url("./resources/images/img-news-bite.png");
  height: 240px;
}
